<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kartik's App</title>
    <style>
        .bd1{
            border-radius: 25px;
            background-color: aqua;
            border:5px solid yellow;
        }
    </style>
</head>
<body>
    <form action="{{ url_for('pred')}}" method="post" enctype=multipart/form-data>
   <div class="bd1">
       <input type="file" name=file>
		<button type="submit">Upload file</button>
    
   </div>
   Mask is : {{res}}
</form>
</body>
</html>